<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dojos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    </head>
    <body>
        <h1>Dojos</h1>
        <form action='' method='post'>
            Name: <input type="text" name="name">
            Email: <input type="text" name="email">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>